@media(max-width:576px){
    
    .formSection{
        width: 100%;
        margin: 10px 0px;
    }
    .otheraddress{
       flex-direction: column;
       gap:1rem;
    }
    .code1{
        width: 165px;
        /* margin-bottom: 20px; */
    }
    .check-DateTime{
        flex-direction: column;
        gap:1rem;
    }
    .check-in-DateTime{
        gap: 1rem;
    }
    .check-out-DateTime{
        gap: 1rem;
    }
    .btn{
        margin-left: 28%;
    }
    .heroSection{
        padding: 50px 90px ;
    }
    .name{
        gap: 2rem;
    }
    .firstname , .lastname{
        width: 130px;
    }
    .address{
        gap: 2rem;
    }
    .add1 , .add2{
        width: 130px;
    }
    .phone-email{
        gap: 1rem;
        flex-direction: column;
    }
}